/* root, .lightTheme {
  --text: black;
  --background: #98DFF3;
  --primaryFocus: #54cbdd;
  --red: #c32222;
  --redBg: #f14e4e;
  --color1: #49B9CA;
  --color2: #ffffff;
  --color3: #241e1e;
  --color4: #0e0e0e;
  --color5: #3ea1b1;
  --color6: #020303;
  --color8: #d8d8d8;
  --color9: #bcbcbc;
  --color10: #e7e7e7;
  --color11: #fafafa;
} */

:root {
    --primaryShape: #49B9CA;
    --primaryShapeLight: #98DFF3;
    --primaryShapeDark: #54cbdd;
    
    --primaryText: #49B9CA;    
    --primaryTextLight: #3ea1b1;
    --primaryTextDark: #54cbdd;
    
    --secondaryShape: #CC6C4F;
    --secondaryText: #CC6C4F;
    
    --background: #f2f2f2;
    --backgroundDark: #b3b3b3;
    --backgroundLight: #ffffff;
    --backgroundTemp: #e5e5e5;
    
    --text: #808080;
    --textLight: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
    --primaryShape: #49B9CA;
    --primaryShapeLight: #98DFF3;
    --primaryShapeDark: #54cbdd;
    
        --primaryText: #ffffff;    
        --primaryTextLight: #ffffff;
        --primaryTextDark: #e5e5e5;
    
        --secondaryShape: #ffffff;
        --secondaryText: #ffffff;
    
        --background: #3F3F3F;
        --backgroundDark: #1A1A1A;
        --backgroundLight: #333333;
        --backgroundTemp: #333333;
    
        --text: #ffffff;
        --textLight: #ffffff;
    }
}