body {
    margin: 0;
    padding: 0;
}

#bod, #va, #fa {
    transition: all 0.2s;
}

.nav .logo img{
    height: 35px;
}

.button.dropdown {
    margin-left: 0.6rem;
    font-size: 0.97rem;
    margin-right: 0.6rem;
}

.nav {
    transition: all 0.2s;
    background-color: transparent;
    box-shadow: none;
}

.banner {
    position: relative;
    text-align: left;
    box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.4);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
}

.sti {
    background-image: url(../images/stibarc_banner.png) ;
}

.stibarc {
    background-image: url(../images/stibarc_banner_text.png) ;
    background-position: center;
}

.default {
    background-image: url(../images/banner_dark.png) ; 
}

.records {
    background-image: url(../images/records_banner.png) ; 
}

.mar-top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30vh;
}

.texts-lg {
    font-size: 3.14rem;
	font-weight: 600;
}

.texts-small {
    font-size: 2rem;
}

.texts-head2 {
    font-size: 2.2rem;
	font-weight: 400;
}

.texts-ssmall {
    font-size: 1rem;
}

#desk {
    display: inline;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 0.6vh;
}


.mocks-small {
    transition: all 0.2s;
    border-radius: 15px;
    display: inline-block;
    width: 410px;
}

.center {
    text-align: center;
}

.centers {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.ex {
    padding-bottom: 2rem;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: calc(100% - 60px);
}

@media only screen and (min-width: 601px) {
    .container {
        width: 95%;
    }
}

.dle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mocks {
    width: 30%;
}

#ico {
    display: none;
}

.bg {
    background-color: rgb(44, 99, 165);
}

.aw {
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    background-color: transparent;
    z-index: 5;
    left: 0;
    top: 0;
    transition: all 0.2s;
}

.panel {
    position: absolute;
    width: 50%;
    background-color: var(--backgroundLight);
    border: 1px solid var(--backgroundLight);
    color: var(--primaryText);
    padding: 20px;
    overflow: auto;
    border: none;
    right: -330px;
    transition: all 0.2s;
    height: 100%;
}

#exita1 {
    display: inline-block;
    font-size: 1.75rem;
    cursor: pointer;
    position: absolute;
    left: 6px;
    padding: 8px;
    padding-top: 12px;
    top: 0;
    transition: all 0.2s;
}

#exita1:hover {
    background-color: #4e4e4e17;
    cursor: pointer;
}

.light-btn {
    background-color: white;
    color: black;
}

.light-btn:hover {
    background-color: rgb(226, 226, 226);
    color: black
}

.left {
    text-align: left;
}

.footlogo {
    width: 18vh;
}

.copyri {
    font-size: 0.8rem;
    color: white;
}

.addic {
    font-size: 0.8rem;
}


@media only screen and (max-width: 740px) {

    #desk {
        display: none;
    }

    /* .mar-top {
        padding-top: 15rem;
    } */

    .container.tex {
        text-align: center;
    }

    .mocks {
        width: 100%;
    }

    #ico {
        display: block;
    }

    .mocks-small {
        width: 100%;
    }

    .dle {
    display: inline-block;
    flex-direction: unset;
    align-items: center;
    }

    .nav {
        text-align: left;
    }
}

.screenshots {
    transition: all 0.2s;
    border-radius: 15px;
    display: inline-block;
    width: 410px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.77);
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .screenshots {
        width: 290px;
    }
}

.break {
    margin-top: 2.4vh;
    margin-bottom: 2.4vh;
}

/* FROM STIBARC REDESIGN */
.recent-activity {
    display: flex;
    flex-direction: column;
    
    padding-top: 0px;
}

.activity {
    border-bottom: 1px solid var(--outline);
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.activity > img {
    border-radius: 50%;
}

.activity > .right {
    flex-direction: column; 
    flex-grow: 1; 
    margin-left: 1rem;
}

.right > p {
    margin-bottom: 0px;
}

.right > h6 {
    margin: 5px;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 800px) {
    
    /* Activity */
    .recent-activity {
        padding: 0px 12px;
        padding-bottom: 12px;
    }
    
    .right > p {
        font-size: 15px;
        text-align: right;
    }   
    
    .right > h6 {
        text-align: right;
    }
}

/* include.css */
@import './inc/include.css';
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	-webkit-font-smoothing: antialiased;
}
*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}


/* - TEMP - */
#loggedout {
    display: none;
}


/* - General Elements - */
body {
    margin: 0;
    padding: 0;
    background-color: var(--backgroundLight);
    color: var(--text);
}

footer {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-content: center;
    height: 40px;
}

a {
    color: var(--primaryText);
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: var(--primaryTextLight);
}
a:active {
    color: var(--primaryTextDark);
}
img {
    max-width: 100%;
    border: 0;
}
/* Text */
h1, h2, h3 {
    color: var(--primaryText);
}
.uppercase{
    text-transform: uppercase;
}
.lowercase{
    text-transform: lowercase;
}
.capitalize{
    text-transform: capitalize;
}


/* Hero */
.hero{
    display: block;
    padding: 1rem;
    border-radius: 8px;
}
.hero.primary{
    background-color: var(--primaryShape);
    color: var(--backgroundLight);
}
.hero.primary h1, .hero.primary h2{
    color: var(--textLight);
}
.hero.large h1{
    font-size: 2.75rem;
}
.hero.primary a:not(.button){
    color: var(--backgroundLight);
}
.hero.primary a:not(.button):hover{
    text-decoration: underline;
}
.hero p{
    margin-bottom: 1.5rem;
}
.hero.large p{
    margin-bottom: 2rem;
}



/* Cards */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: var(--background);
    border: 1px solid var(--backgroundDark);
    border-radius: 8px;
    color: var(--text);
    
    padding-left: 1.2rem;
    padding-right: 1.2rem;    
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.card.post:hover, .card.column-ad:hover {
    background-color: var(--backgroundLight);
    color: var(--text);
    border-radius: 8px;
    cursor: pointer;
}


/* Post Cards */
.card.post {
    margin-bottom: 20px;
}

.post-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post-info img {
    max-width: 50px; 
    border-radius: 50%; 
    margin-right: 20px;
}

.post-name {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.post-stats {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    
    text-align: right;
}

.post-stats > h6 {
    margin: 10px;
}

.post-votes {
    display: flex;
}

.stat-con-small {
    background-color: var(--backgroundTemp);
    
    align-items: center;
    justify-content: center;
    
    padding: 0.5rem 1.2rem;
    border-radius: 1.2rem;
    margin: 0.2rem;
    
    display: flex;
    flex-direction: row;
}

.stat-con-small > .material-icons, .stat-con-small > h5 {
    margin: 0px;
}

.stat-con-small.pos {
    color: var(--primaryText);
}

.stat-con-small.neg {
    color: var(--secondaryText);
}

.card h1, .card h2, .card h3 {
    color: var(--text);
    margin: 0px;
}

.card > .content {
    display: flex;
    flex-direction: row;
}

.card > .content p {
    margin-right: 1rem;
}


/* Quick Post */
.quick-post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 3rem;
}

.quick-post-buttons {
    display: flex;
    flex-direction: column;
}

.quick-post-buttons > .button {
    margin: 5px;
}


/* Recent Posts Header */
.post-header {
    display: flex; 
    align-items: center;
    margin-bottom: 1rem;
}

.post-header-buttons {
    display: flex;
    flex-direction: row;
}


/* Ad Cards */
.column-ad {
    justify-content: center;
    text-align: center;

    padding: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Forms & Interactibles */
/* Inputs */
.input {
    border-radius: 8px;
    border: 1px solid var(--backgroundDark);
    background-color: var(--background);
    color: var(--text);
    text-decoration: none;
    padding: 8px 2rem;
    font-size: 17px;
    font-weight: 500;
}
.input:focus {
    outline: none;
    border-width: 2px;
    border-color: var(--backgroundDark);
    padding: calc(8px - 1px) calc(2rem - 1px);
}
.input::placeholder {
  font-size: 17px;
  font-weight: 500;
  color: var(--backgroundDark);
  opacity: 1;
}
.input:-ms-input-placeholder {
  font-size: 17px;
  font-weight: 500;
  color: var(--alphaLight);
}
.input::-ms-input-placeholder {
  font-size: 17px;
  font-weight: 500;
  color: var(--alphaLight);
}
.input.alt{
    border-radius: 8px;
    border: 1px solid var(--backgroundLight);
    background-color: var(--primaryShapeLight);
    color: var(--backgroundLight);
}
.input.alt:focus{
    outline: none;
    border-width: 2px;
}
.input.alt::placeholder {
  color: var(--alphaLight);
}
.input.alt:-ms-input-placeholder {
  color: var(--alphaLight);
}
.input.alt::-ms-input-placeholder {
  color: var(--alphaLight);
}
.input.primaryAlt{
    border-radius: 25px;
    border: 1px solid var(--backgroundLight);
    background-color: var(--primaryShapeLight);
    color: var(--textLight);
}
.input.primaryAlt:focus{
    outline: none;
    border-width: 2px;
}
.input.primaryAlt::placeholder {
  color: var(--alphaLight);
}
.input.primaryAlt:-ms-input-placeholder {
  color: var(--alphaLight);
}
.input.primaryAlt::-ms-input-placeholder {
  color: var(--alphaLight);
}

/* Input Types */
textarea {
    resize: vertical;
    width: 100%;
    min-height: 100px;
    max-height: 200px;
        
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
        
    background-color: var(--backgroundTemp);
    color: var(--text);
    border: none;
}

/* Checkboxes */
label {
    display: flex;
    flex-direction: row;
    position: relative;
    padding-left: 30px;
    margin-bottom: 8px;
    margin-right: 20px;
    
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.label input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
        
    cursor: pointer;
}

.label input:checked ~ .checkmark {
    background-color: var(--primaryShapeLight);
}

.label input:checked ~ .checkmark.alt {
    background-color: var(--backgroundTemp);
}

.label input ~ .checkmark .material-icons {
    display: none;
}

.label input:checked ~ .checkmark .material-icons {
    display: block;
}

.checkmark {
    position: absolute;
    top: -25%;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    
    border: 1px solid var(--backgroundLight);
    background-color: var(--primaryShapeLight);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkmark.alt {
    border: 1px solid var(--backgroundDark);
    background-color: var(--background);
    color: var(--backgroundDark);
}

.checkmark .material-icons {
    vertical-align: middle;
    font-size: 15px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.label input:checked ~ .checkmark:after {
    display: block;
}

/* Buttons */
.button {
    display: inline-block;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 8px 2rem;
    font-size: 17px;
    border-radius: 25px;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--backgroundLight);
    border: 1px solid var(--backgroundLight);
    color: var(--primaryText);
}
.button:hover {
    text-decoration: none;
    color: var(--primaryTextLight);
}
.button:active {
    text-decoration: none;
    color: var(--primaryTextDark);
}
.button:focus {
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.85);
}

.icon {        
    line-height: 0px;
    padding: 10px 11px;
}

.icon-small {
    display: flex;
    align-items: center;
    justify-content: center;
        
    padding: 0px;
    width: 35px;
    height: 35px;
}

.button.primary {
    background-color: var(--primaryShape);
    color: var(--textLight);
    border: 1px solid var(--primaryShape);
}
.button.primary:hover {
    background-color: var(--primaryShapeLight);
    border-color: var(--primaryShapeLight);
}
.button.primary:active {
    background-color: var(--primaryShapeDark);
    border-color: var(--primaryShapeDark)
}

.button.primaryAlt {
    background-color: var(--primaryShapeLight);
    color: var(--textLight);
    border-color: var(--backgroundLight);
}
.button.primaryAlt:hover {
    background-color: var(--primaryShape);
}
.button.primaryAlt:active {
    background-color: var(--primaryShapeDark);
}

.button.alt {
    background-color: var(--background);
    color: var(--text);
    border: 1px solid var(--backgroundDark);
}
.button.alt:hover {
    background-color: var(--backgroundLight);
    color: var(--text);
}
.button.alt:active {
    background-color: var(--backgroundTemp);
    color: var(--text);
}

.button.dropdown {
    padding: 8px 1.25rem;
}

.button.material-icons {
    font-size: 20px;
    
    padding: 8px 1rem;
}

/* Nav */
.nav-height {
    margin-top: 4.25rem;
}
.nav-margin {
    margin-top: 6rem;
}

.nav-container {
    margin: 1rem 2rem;
    display: flex;
    align-items: center;
}
.nav .logo:not(.text) {
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
}
.nav .logo.text {
    font-size: 2rem;
    font-weight: 700;
}
.nav a:not(.button){
    color: var(--backgroundLight);
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-items > .button {
    margin-left: 10px;
}

.pfpButton {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    border: none;
    margin-left: 10px;
    padding: 1.225rem;
    background: #ccc url("../design_files/newjimbo.png?raw=true");
    background-size: cover;
    border-radius: 50%;
    box-sizing: border-box;
}
.pfpButton:focus {
    outline: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.85);
}

/* Loader */
.loader {
    border: 5px solid transparent;
    border-radius: 50%;
    border-top: 5px solid var(--backgroundLight);
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 0.4s linear infinite;
    animation: spin 0.4s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Footer */
.footer-container {
    width: 100%;
    height: 150px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-buttons {
    display: flex;
    flex-direction: row;         
    flex-wrap: wrap;
    
    margin: 10px;
}

.footer-buttons > .button {
    margin: 5px;
}


/* Misc */
.divider {
    height: 1px;
    overflow: hidden;
    background-color: var(--backgroundTemp);
}

/* Margins */
.m-top {
    margin-top: .75rem;
}
.m-bottom {
    margin-bottom: .75rem;
}
.m-right {
    margin-right: .75rem;
}
.m-left {
    margin-left: .75rem;
}


/* - Media Queries - */
@media only screen and (min-width: 800px) {
    .logo-small img {
        display: none;
    }
    
    .button.search {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    
    /* Nav Items */
    .nav-items > .input.primaryAlt {
        display: none;
    }
    
    .logo-large img {
        display: none;
    }
    
    .button {
        font-size: 15px;
        padding: 8px 1.5rem;
    }
    
    /* Hero Header */
    .hero.large > h1 {
        font-size: 2rem;
    }
    
}

@media only screen and (max-width: 500px) {
    
    /* Quick Post */
    .quick-post {
        flex-direction: column;
    }
    
    .quick-post-buttons {
        flex-direction: row;
        justify-content: flex-end;
        
        width: 100%;
        
        margin-top: 5px;
    }
    
    .quick-post-buttons > .button {
        margin: 0px;
    }
    
    /* Post Header */
    .post-header {
        flex-direction: column;
    }
    
    .post-header > h1 {
        margin: 5px;
    }
    
    /* Post Cards */
    .card.post > .content {
        flex-direction: column;
    }
    
    .card.post > .content p {
        margin-right: 0px;
    }
    
    .post-votes {
        flex-direction: column;
    }
    
    /* Footer */
    .footer-buttons {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .footer-buttons > .button {
        margin: 2px;
        width: 30%;
    }
}

@media only screen and (max-width: 400px) {    
    
    /* Nav Items */
    .button.search {
        display: none;
    }
    
    .nav-container {
        margin: 1rem;
    }    
    
    /* Post Cards */
    .card.post > .post-info {
        flex-direction: column;
    }
    
    .post-votes {
        flex-direction: row;
    }
    
    .post-stats {
        margin: 5px;
        justify-content: center;
        align-items: center;
    }
    
    .post-info {
        align-items: center;
        text-align: center;
    }
    
    .post-info > img {
        margin: 5px;
    }
    
    .left > p {
        margin-top: 5px;
    }
    
    /* Footer */
    .footer-buttons {
        justify-content: center;
        align-items: center;
    }
}


/* - Colors - */
    /* Text */
    .default-text { color: var(--text); }
    .primary-text { color: var(--primaryText); }
    .primaryLight-text { color: var(--primaryTextLight); }
    .primaryDark-text { color: var(--primaryTextDark); }
    .white-text { color: var(--textLight); }
    .temp-text { color: var(--backgroundTemp); }
    .outline-text { color: var(--backgroundDark); }
    .fill-text { color: var(--background); }

    /* Background */
    .default-bg { background-color: var(--backgroundLight); }
    .primary-bg { background-color: var(--primaryShape); }
    .primaryLight-bg { background-color: var(--primaryShapeLight); }
    .primaryDark-bg { background-color: var(--primaryShapeDark); }
    .white-bg { background-color: var(--backgroundLight); }
    .temp-bg { background-color: var(--backgroundTemp); }
    .outline-bg { background-color: var(--backgroundDark); }
    .fill-bg { background-color: var(--background); }

    /* margins */
.margin-top{
    margin-top: 2.25rem;
}
.margin-bottom{
    margin-bottom: 5rem;
}
/* END STIBARC REDESUGB */
.nb-m {
    border: 1px solid var(--backgroundDark);
    display: block;
}

.outline {
    border: 1px solid var(--backgroundDark); 
}

.cards-but {
    border: 1px solid var(--backgroundDark);
}

.space {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.but-fot {
    font-size: 10px;
    padding: 8px 1.5rem;
}

.featureh {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.eh {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    color: white;
}

.feacont {
    margin: .75rem 18px 1.5rem 0;
    display: inline-block;
    vertical-align: middle;
    color: var(--text);
}

.inli {
    display: inline;
}

.cards {
    transition: all 0.8s;
    border-radius: 15px;
    background-color: var(--bgnavcol);
    width: 320px;
    height: 692px;
    padding: 2vh;
    box-sizing: border-box;
    margin: 0.8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.77);
    text-decoration: none;
    color: white;
}

.fif {
    width: 250px;
    height: 250px;
}

.cards, .bomarg {
    margin-bottom: 2vh;
}

.mainni {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 2.6vh;
}

.mainim {
    height: 100px;
    max-width: 100vw;
    margin: 1.2vh;
    font-weight: 400;
}

#sc1 {
 background-image: url('../images/stibarc_screenshot2.png');
}

#sc2 {
    background-image: url('../images/stibarc_screenshot3.png');
}

#sc3 {
    background-image: url('../images/stibarc_screenshot4.png');
}

#sc4 {
    background-image: url('../images/stibarc_screenshot5.png');
}

#sc5 {
    background-image: url('../images/stibarc_screenshot6.png');
}

#sc6 {
    background-image: url('../images/stibarc_screenshot7.png');
}

#sc7 {
    background-image: url('../images/stibarc_screenshot8.png');
}

#rt {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #ffffff),
    url('../images/services_stibarc_theme.png');
}

#recor {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #7dabb8),
    url('../images/services_records.png');
}

#teli {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #808080),
    url('../images/services_tv.png');
}

#barc {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #497dff),
    url('../images/services_stibarc.png');
}

#borealis {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #23157a),
    url('../images/services_borealis.png');
}

#herron {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #a1a66a),
    url('../images/team_herronjo.png');
}

#bunn {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #b1b1b1),
    url('../images/team_bunnbuns.png');
}

#allu {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #af3257),
    url('../images/team_alluthus.png');
}

#aldeen {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #4d696a),
    url('../images/team_aldeenyo.png');
}

#ogel {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #d41e1a),
    url('../images/team_ogelbeh.png');
}

#savaka {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0), #000000),
    url('../images/team_savaka.png');
}

.backsca {
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-size: 100%;
}

::-webkit-scrollbar {
    width: 1.3vh;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 1.1vh;
    background: var( --backgroundDark);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--primaryShapeDark);
    border-radius: 1.1vh;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primaryShapeLight);
  }

  .tma {
      margin-top: 10.4vh;
  }

  .detr {
      color: black;
  }

  @media only screen and (max-width: 740px) {
    .fif {
        width: 150px;
        height: 150px;
    }
    .mainim {
        height: 55px;
    }
}

.mainimgg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30vh;
}

.underline {
    text-decoration: underline;
}